## Imports
importFrom(bestglm,bestglm,to.binary)
importFrom(leaps,regsubsets)
importFrom("grDevices", "dev.new", "dev.prev", "dev.set", "palette")
importFrom("graphics", "abline", "barplot", "box", "hist", "layout",
               "par", "points", "text")
importFrom("stats", "AIC", "aggregate", "approx", "glm", "na.omit",
               "runif", "sd")
importFrom("utils", "flush.console", "stack", "write.table")
import(tcltk)

## export functions
export(
  run.mar,
  ss.mar1,
  prepare.data,
  export.MAR,
	summary.MAR,
  plot.MAR,
  print.MAR,
	plot.MARtop,
  hist.MARtop,
	print.MARsummary)

## register S3 methods
S3method(print, MARsummary)
S3method(print, MAR)
S3method(summary, MAR)
S3method(plot, MAR)
S3method(plot, MARtop)
S3method(hist, MARtop)
